<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="footer">
  <div class="section">
    <div class="col" style="width:320px">
      <h5><img src="images/logo123.png" width="200px" /></h5>
      <div class="top_space">

      </div>
      <div>
        <h6>Contact</h6>
        <div class="top_space1">
          <span style="color:#f9e826">+91 758-808-4080</span>
          <br />
          <a href="mailto:info@studentsforumonline.com" style="font-size:14px">info@studentsforumonline.com</a>
        </div>
      </div>
    </div>
    <div style="float:left; overflow:hidden; width:300px; margin-right:40px">
      <div class="col" style="width:130px">
        <h5>Learn More</h5>
        <div class="top_space">
          <%= link_to  "Home" ,root_url ,:title=>"Home"%>
          <br />
          <%= link_to "About us",about_us_url%>
          <br />
          <%= link_to "Services",services_url%>
          <br />
          <%= link_to "Testimonials",testimonials_url%>
          <br />

        </div>
      </div>
      <div class="col" style="width:140px; margin-right:0px">
        <h5>&nbsp;</h5>
        <div class="top_space">
          <%= link_to "Team",team_url%>
          <br />
          <%= link_to "Contact us",contact_us_url%>
          <br />
          <a target="_blank" href="http://twitter.com/studentsforumSF" title="Students Forum twitter">Follow us on twitter</a>
          <br />
          <a target="_blank" href="http://www.facebook.com/" title="facebook">Fan us on Facebook</a>
        </div>
      </div>

      <div style="clear:both">
        &nbsp;
      </div>
      <div class="social_icon">
        <a target="_blank" href="http://twitter.com/studentsforumSF" title="Nurture twitter"><img src="images/twitter_32.png" /></a> &nbsp;&nbsp; <a target="_blank" href="http://www.facebook.com/pages/Nurture/140694419301433" title="Nurture facebook"><img src="images/facebook_32.png" /></a> &nbsp;&nbsp; <!--img src="images/linkedin_32.png" / -->
      </div>
    </div>
    <div class="col" style="margin-right:0px; width:250px">
      <h5>Testimonials</h5>
      <div class="footer_testimonials">
							"SF has done a incredible job of providing pre placement training to my students.They provide precise resources and company specific training which prepares the students well before hand. I can't recommend it enough."
      </div>
    </div>
  </div>
</div>
